.nav-color-css{
    color:  lightslategray;
}

.li-color-css{
    color: lightyellow;;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    
}
.row-pusher{
    margin: 40px 0px 20px 20px;
    border-bottom: 2px ridge;
}

.footer{
    background-color: lightslategray;
    color: lightyellow;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: lightslategray;
    color: lightyellow;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: lightsteelblue;
}
 a{
    color: black;
}